<!DOCTYPE html>
<% include common/header %>
  <a id="g_nk" class="btn btn-primary" href="#" role="button">入庫実績グラフ</a>
  <a id="g_shuritu" class="btn btn-info" href="#" role="button">収率グラフ</a>
  <main>
      <div class="chart" id="chart_scatter" style="width: 900px; height: 500px;"></div>
      <div class="chart" id="chart_column" style="width: 900px; height: 500px;"></div>
  </main>
<% include common/footer %>
