<!DOCTYPE html>
<% include common/header %>
<div class="reveal">
  <div class="slides" id="slides">
    <!-- ICC -->
    <section id="icc">
      <div class="slide-title"><b>ICC</b></div>
      <div class="table">
        <div class="chart-container cell-left border">
          <p class="chart_title border shuritu">検反収率</p>
          <div class="chart-content" id="chart_icc_syuritu"></div>
        </div>
        <div class="chart-container cell-right border">
          <p class="chart_title border nyuko">入庫実績</p>
          <div class="chart-content" id="chart_icc_nyuko"></div>
        </div>
      </div>
    </section>
    <!-- TSA -->
    <section id="tsa">
      <section>
        <div class="slide-title"><b>TSA</b></div>
        <div class="table">
          <div class="chart-container cell-left border">
            <p class="chart_title border shuritu">検反収率</p>
            <div class="chart-content" id="chart_tsa_syuritu"></div>
          </div>
          <div class="chart-container cell-right border">
           <p class="chart_title border nyuko">入庫実績</p>
           <div class="chart-content" id="chart_tsa_nyuko"></div>
          </div>
        </div>
      </section>
    </section>
    <!-- LPA -->
    <section id="lpa">
      <div class="slide-title"><b>LPA</b></div>
      <div class="table">
        <div class="chart-container cell-left border">
         <p class="chart_title border shuritu">検反収率</p>
         <div class="chart-content" id="chart_lpa_syuritu"></div>
        </div>
        <div class="chart-container cell-right border">
         <p class="chart_title border nyuko">入庫実績</p>
         <div class="chart-content" id="chart_lpa_nyuko"></div>
        </div>
      </div>
    </section>
  </div>
</div>
<div class="message">
  <p><%= msg.content %></p>
</div>
<% include common/footer %>
