.reveal {
  height: 94% !important;
}
.reveal .slides section {
  padding: 0 !important;
  top: 0 !important;
}
.reveal p {
  margin-bottom: 0 !important;
}
.reveal .playback {
  bottom: 5px !important;
}
.reveal .controls {
  bottom: -30px !important;
}
.slide-title {
  background-color: rgb(37, 81, 135);
  color: white;
}
.table {
  display:table;
  border-collapse:separate;
  border-spacing: 2px 0;
  width: 100%;
  margin-top: 3px !important;
}
.chart-container {
  display: table-cell;
  /*width: 49%;*/
}
.table .cell-left {
  width: 46%;
}
.table .cell-right {
  width: 53%;
}
.border {
  border:solid 2px rgb(56, 93, 138) !important;
  border-radius: 5px;
}
.chart_title {
  background-color: rgb(255, 204, 155);
  margin-top: 3px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
}
.message {
  background-color: rgb(255, 204, 155);
  white-space: nowrap;
  overflow: hidden;
}
.message p {
  display: inline-block;
  margin-top: 2px !important;
  padding-left: 100%;
  color: #000;
  font-family: "News Cycle", Impact, sans-serif;
  font-weight: bold;
  font-size: 25px;
  line-height: 1.3;

  -webkit-animation: scroll 30s infinite linear;
     -moz-animation: scroll 30s infinite linear;
       -o-animation: scroll 30s infinite linear;
          animation: scroll 30s infinite linear;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
  }
}
@-moz-keyframes scroll {
  0% {
    -moz-transform: translate(0, 0);
  }
  100% {
    -moz-transform: translate(-100%, 0);
  }
}
@-o-keyframes scroll {
  0% {
    -o-transform: translate(0, 0);
  }
  100% {
    -o-transform: translate(-100%, 0);
  }
}
@keyframes scroll {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
