  <footer style="margin-top: 10px;">
    <p class="text-center">© Copyright 2016 Toray</p>
  </footer>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <% if(typeof jsScripts != 'undefined') {
    for (var i in jsScripts) { %>
        <%- jsScripts[i] %>
    <% }
  } %>
</body>
</html>
